<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" packagingData="false">

    <!-- 禁用状态监听器来屏蔽初始化日志 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 定义日志文件的存储地址 -->
    <property name="LOG_HOME" value="./logs"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 启用彩色输出 -->
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/sidifensen-blog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <fileNamePattern>${LOG_HOME}/sidifensen-blog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志文件最大的大小 -->
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 错误日志文件 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/sidifensen-blog-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/sidifensen-blog-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 降低日志框架本身的日志级别 -->
    <logger name="ch.qos.logback" level="OFF"/>
    <logger name="org.springframework.boot.logging" level="OFF"/>

    <!-- 降低MyBatis相关日志级别 -->
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="OFF"/>
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="OFF"/>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="OFF"/>

    <!-- 共同的日志级别配置 -->
    <logger name="org.mybatis.spring.mapper" level="OFF"/>
    <logger name="org.apache" level="INFO"/>

    <!-- 屏蔽 RabbitMQ 和 HikariCP 关闭时的 INFO 日志 -->
    <logger name="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer" level="WARN"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="WARN"/>

    <!-- 开发环境:打印控制台 -->
    <springProfile name="dev">
        <logger name="com.sidifensen" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.mybatis" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>


    <!-- 生产环境:输出到文件 -->
    <springProfile name="prod">
        <logger name="com.sidifensen" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.mybatis" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/><!--测试时打印到控制台-->
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

</configuration>